# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build output directories
sample/*/build/

# emacs backup
*~

# clangd index
.cache/
*.idx

# doc latex
docs/latex/

tools/__pycache__/

.vscode/settings.json

# temp src
src/*/tmp

